@mixin h1-large {
  color: var(--S-SanJuanBlue);
  font-family: "DM Serif Display", sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: -0.554px;

  @media screen and (max-width: 1125px){
    font-size: 48px;
    line-height: 56px;
  }

  @media screen and (max-width: 375px){
    font-size: 32px;
    line-height: 36px;
  }
}

@mixin h1-small {
  color: var(--S-SanJuanBlue);
  font-family: "DM Serif Display", sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.431px;
}

@mixin h2 {
  color: var(--S-SanJuanBlue);
  font-family: "DM Serif Display", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.369px;

  @media screen and (max-width: 375px){
    font-size: 32px;
  }
}

@mixin h3-big {
  color: var(--S-SanJuanBlue);
  font-family: "DM Serif Display", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.246px;
}

@mixin h3-small {
  color: var(--S-SanJuanBlue);
  font-family: "DM Serif Display", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -0.138px;
}

@mixin h4 {
  color: var(--S-SanJuanBlue);
  font-family: "DM Serif Display", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.185px;
}

@mixin P-btn {
  border-radius: 24px;
  background: #ba4270;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  padding: 16px 24px 14px 26px;
  color: var(--P-LinkWaterWhite);
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.115px;
}
