.implement {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #edf3f8;
}

.implement_container {
  display: flex;
  align-items: center;
  gap: 125px;
}

.implement__content {
  max-width: 445px;
}

.implement__title {
  @include h2;
  margin-bottom: 24px;
}

.implement__text {
  color: var(--S-LightHuanBlue);
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
}

@media screen and (max-width: 1286px) {
  .implement_container {
    gap: 50px;
  }
}
@media screen and (max-width: 1211px) {
  .implement_container {
    flex-direction: column;
  }
  .implement__content {
    max-width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .implement {
    padding-bottom: 50px;
  }
}
