.interface {
  background-color: #edf3f8;
  padding-bottom: 146px;
}

.interface__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 97px;
}

.interface__content {
  max-width: 445px;
}

.interface__title {
  @include h2;
  margin-bottom: 24px;
}

.interface__text {
  color: var(--S-LightHuanBlue);
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
}

.interface__img {
  max-width: 265px;
}

.interface__img:first-child {
  margin-right: 20px;
}

@media screen and (max-width: 1422px) {
  .interface__container {
    gap: 20px;
  }
  .interface__content {
    max-width: 310px;
  }
}
@media screen and (max-width: 1211px) {
  .interface__container {
    flex-direction: column-reverse;
  }

  .interface__content {
    max-width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .interface {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 632px) {
  .interface__img {
    max-width: 190px;
  }
}
@media screen and (max-width: 484px) {
  .interface__img {
    max-width: 150px;
  }
}
@media screen and (max-width: 404px) {
  .interface__img {
    max-width: 100px;
  }
}
